.DS_Store
**/__pycache__
**/bin
**/cmake
**/conda-meta
**/ssl
**/etc
**/fonts
**/include
**/lib
**/libexec
**/man
**/sbin
**/var
**/share
**/.ipynb_checkpoints
**/tempCodeRunnerFile.py
**/images
Sample_Images_Test/**
!Sample_Images_Test/*+S_*.png